<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:replace="~{/fragments/fragment3 :: target(~{this:: #ulFirst} , ~{this:: #ulSecond} )}">
        <!--this는 현재 페이지를 의미할 때 사용. 생략 가능함-->
        <ul id="ulFirst">
            <li>AAA</li>
            <li>BBB</li>
            <li>CCC</li>
        </ul>
        <ul id="ulSecond">
            <li>111</li>
            <li>222</li>
            <li>333</li>
        </ul>

    </th:block>

</body>
</html>